In [1]:
import pickle
import pandas as pd
import numpy as np
import datetime

### Reading all the focal brands

In [2]:
with open('../top_brands.pickle', 'rb') as file:
    focal_brands = pickle.load(file)

focal_brands

,SUB_CATEGORY,BRANDS,Total_Spend,Total_Visits,Unique_PLACEKEY_Count
0,"Cosmetics, Beauty Supplies, and Perfume Stores",Sephora,1913415.32,702927,15
1,"Cosmetics, Beauty Supplies, and Perfume Stores",ULTA Beauty,1339844.15,404546,20
2,Full-Service Restaurants,Olive Garden,1058844.15,125651,15
3,Full-Service Restaurants,The Cheesecake Factory,974090.35,473745,5
4,Warehouse Clubs and Supercenters,Target,41977753.97,2053582,50
5,Warehouse Clubs and Supercenters,Walmart,33473235.00,2815949,47
6,Women's Clothing Stores,Anthropologie,840473.95,327685,7
7,Women's Clothing Stores,Victoria's Secret,662200.98,295606,14

### Reading info about Visits and Local Reviews

In [29]:
with open('../brand_visit_local_reviews.pickle', 'rb') as file:
    brand_visit_local_reviews = pickle.load(file)

brand_visit_local_reviews = brand_visit_local_reviews.drop(columns=['spend_by_day', 'lat', 'lon', 'brand_standard', 'ID', 'Name',
                                                                    'Genre', 'Type', 'Classification', 'Status', 'Name_Standard'])

brand_visit_local_reviews = brand_visit_local_reviews.sort_values('date')
brand_visit_local_reviews = brand_visit_local_reviews.fillna(0)
brand_visit_local_reviews.head()

,date,PLACEKEY,visits_by_day,brand_visitation,visits_past_60_days,visits_past_3_days,total_visits_across_stores_60_days,proportion_of_visits_60_days,localized_fb_reviews_60_days,localized_ig_reviews_60_days,localized_tw_reviews_60_days
2768343,2019-01-01,zzw-225@62j-sgb-ygk,15,The Container Store,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2830684,2019-01-01,222-222@62j-sc2-yn5,6,Staples,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2790725,2019-01-01,zzw-222@62j-t2c-f4v,11,Burger King,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2830715,2019-01-01,222-222@62j-sdt-45f,12,Staples,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2830746,2019-01-01,229-223@62j-r5p-66k,10,Staples,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Calculations for Focal Brand

In [42]:
foc_brand_visits_reviews = brand_visit_local_reviews[brand_visit_local_reviews['brand_visitation'] == 'Sephora']
foc_brand_visits_reviews = foc_brand_visits_reviews[foc_brand_visits_reviews['date'] > datetime.date(year=2019,month=3,day=1)]
foc_brand_visits_reviews = foc_brand_visits_reviews[['visits_by_day', 'localized_fb_reviews_60_days',
                                                     'localized_ig_reviews_60_days', 'localized_tw_reviews_60_days']].reset_index(drop=True)
foc_brand_visits_reviews.head()

,visits_by_day,localized_fb_reviews_60_days,localized_ig_reviews_60_days,localized_tw_reviews_60_days
0,52,0.028083,470.696092,0.463366
1,3,0.001589,26.633224,0.026218
2,3,0.005601,93.875523,0.092414
3,91,0.053774,901.310500,0.887275
4,8,0.005050,84.646188,0.083328

In [44]:
foc_brand_visits_reviews.describe()

,visits_by_day,localized_fb_reviews_60_days,localized_ig_reviews_60_days,localized_tw_reviews_60_days
count,4316.000000,4316.000000,4316.000000,4316.000000
mean,133.411260,15.502317,1485.425857,1.442539
std,275.855497,117.179113,3456.258529,6.203352
min,0.000000,0.000000,0.000000,0.000000
25%,7.000000,0.178227,78.202827,0.054760
50%,20.000000,0.898890,215.753298,0.163641
75%,67.000000,4.435681,762.714873,0.608219
max,3070.000000,5346.326860,63385.439005,171.604509